<div class="login">
    <div class="logo">
        <img src="assets/logo-color.svg">
        <p>Observer</p>
        <p class="slogan">Observe. Detect. Act.</p>
    </div>
    <div class="loginbox">
        <div class="content">
            <p>Please enter your login credentials to proceed:</p>
            <input [(ngModel)]="username" placeholder="Username" type="text"><br><br>
            <input [(ngModel)]="password" placeholder="Password" type="password"><br><br>
            <button (click)="login()">Login</button><br>
            <p *ngIf="this.result == false" style="color: red">You login credentials are wrong!</p>
        </div>
    </div>
</div>