.login {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('assets/loginBG_old.jpg')
}
.loginbox {
    z-index: 1;

    margin: 0 auto;
    margin-top: -116px;
    padding: 20px;
    padding-top: 120px;
    padding-bottom: 40px;

    text-align: center;
    width: 570px;
    height: 500px;

    color: #fff;
    border-radius: 15px;
    background-color: #222f3e;
    opacity: 0.9;
}
.loginbox .content {
    opacity: 1;
}
.router {
    background-color: aqua;
}

.logo {
    justify-content: center;
    z-index: 2;
    position: relative;
    
}
.logo p {
    text-align: center;
    font-size: 27pt;
    font-weight: 700;
    margin-bottom: -14px;
    color: #fff;
}
.logo .slogan {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 14pt;
    text-align: center;
    color: #fff;
}
.logo img {
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: -89px;

    display: block;
    width: 200px;
    height: 200px;
}