<div class="logo">
    <img src="assets/logo.svg">
    <p>OBSERVER</p>
    <p class="slogan">Observe. Detect. Act.</p>
</div>
<div class="loginbox">
    <h1>Login</h1>
    <p>Please login into Observer to confirm your identity.</p>
    <input [(ngModel)]="username" placeholder="Username" type="text"><br><br>
    <input [(ngModel)]="password" placeholder="Password" type="password"><br><br>
    <button (click)="login()">Login</button><br>
    <p *ngIf="this.result == false" style="color: red">You login credentials are wrong!</p>
</div>