ul {
    margin: 0 auto;
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
    border-bottom: 5px solid #272727;

    margin: 0;
    padding: 0;
} 

li a {
    display: block;
    color: #fffff8;
    
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;

    padding: 14px 16px;
    text-decoration: none;
    transition: .5s;
}

li {
    float: left;
}

li a .right {
    float: right;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    /*transform: scale(1.01);*/
    cursor: pointer;
}

.dashboard {
    background-image: url('/assets/Background.png');
    background-size: cover;

    height: 100%;
    width: 100%;
    position: fixed;
}